@using System.Linq;

<div>
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Cart Products</h3>
                </div>
                <div class="modal-body">
                    <RadzenDataGrid @ref="productGrid" AllowFiltering="false" AllowPaging="false" PageSize="0" AllowSorting="false"
                                    Data="@SelectedProducts" TItem="Product">
                        <Columns>
                            <RadzenDataGridColumn Width="50px" TItem="Product" Title="#" Filterable="false" Sortable="false"
                                                  TextAlign="TextAlign.Center">
                                <Template>
                                    @(SelectedProducts.IndexOf(context) + 1)
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Width="200px" TItem="Product" Property="Nombre" Title="Nombre">
                                <FooterTemplate>
                                    Displayed products: <b>@SelectedProducts.Count()</b> of <b>@SelectedProducts.Count()</b>
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Product" Property="Precio.PrecioVenta" Title="Precio">
                                <Template Context="p">
                                    @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", p.Precio.PrecioVenta)
                                </Template>
                                <FooterTemplate>
                                    Total amount: <b>
                                        @String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", SelectedProducts.Sum(p => p.Precio.PrecioVenta))
                                    </b>
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-success" @onclick="OnkeepBuying"> Back</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-success"> Purchase</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public List<Product> SelectedProducts { get; set; }
    [Parameter]
    public bool KeepBuying { get; set; }
    [Parameter]
    public EventCallback OnkeepBuying { get; set; }

    RadzenDataGrid<Product> productGrid;

    private double Total()
    {
        double Total = 0;
        foreach (var item in SelectedProducts)
        {
            Total += item.Precio.PrecioVenta;
        }
        return Total;
    }

}
